*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(245, 245, 245);

	font-family: "Work Sans", sans-serif;

	ul {
		list-style-type: none;
	}

	//global spinner
	.gif-loader {
		height: 18px;
	}

	//global spinner section
	.spinner-section {
		@include flex-center;
		height: 40vh;
	}
}
